body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4070f4;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navInfo, .brand {
    font-size: 1.5em;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #b5b6b8;
    transition: left 0.3s ease;
    overflow-y: auto; /* Allow sidebar to scroll if content exceeds height */
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    color: #007bff;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.toggle {
    display: none;
    cursor: pointer;
}

.toggle-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .sidebar {
        left: -250px;
    }
    .content {
        margin-left: 0;
    }
    .toggle {
        display: block;
    }
    .brand {
        display: none;
    }
}
footer h1 {
    font-size: 15px;
    text-align: center;
    color: rgb(10, 38, 46);
}

