body {
    font-family: Arial, sans-serif;
}
h2{
    color: #23c728c1;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #4070f4;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: #182919;
}

button {
    padding: 5px 10px;
    background-color: #23c728c1;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #4070f4;
}

#confirmation {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a90d02e5;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(18, 196, 241, 0.1);
    z-index: 1000;
}

.popup.show {
    display: block;
}

