
.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    border-radius: 3px;
    background-color:rgba(14, 1, 1, 0.59);
    box-shadow: 5px 5px 10px black;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 40vh;
    position: fixed;
    right: 10%;
    top: -10%;
}

.intro h1 {
    font-size: 17px;
    color: rgb(255, 255, 255);
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    outline: 2px solid rgb(27, 255, 27);
}

.myform {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myform h1 {
    font-size: 19px;
    margin-top: 3em;
    /* color: rgb(3, 39, 48); */
   color: #ffffff;
}

.input {
    width: 370px;
    height: 30px;
    background-color: #fff;
    margin-top: 1em;
    display: flex;
    outline: 1px solid #4070f4;
    box-shadow: 7px 7px 10px black;

}

.input i {
    width: 18%;
    height: 100%;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    background-color:  #4070f4;
}

input {
    width: 80%;
    height: 95%;
    border: none;
    outline: none;
    font-size: 15.4px;
}

button {
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease 0s;
}

button:hover {
    background-color: rgb(168, 161, 161);
    box-shadow: 0px 15px 10px rgb(20, 14, 14);
}

.other {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 23px;
    color: #ffffff;
}

a {
    color: #ffffffc9;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    margin-top: 15px;
   
}

a:hover {
    color: #4070f4;
}

footer h1 {
    font-size: 15px;
    text-align: center;
    color: rgb(254, 255, 255);
}

.social-link {
    display: flex;
    justify-content: center;
}

footer i {
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

footer i:hover {
    color:rgb(218, 149, 0);
}
.row {
    display: flex;
    gap: 1.5em;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-container:hover .dropbtn {
    background-color: #3e8e41;
}